[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/opt/r8500/ap/gpl/iserver/dbus-1.6.8/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
